{"openapi":"3.1.0","info":{"title":"Benji API","description":"API for Benji","version":"1.0.0"},"servers":[{"url":"https://app.benji.so/api/rest"}],"paths":{"/mood/get":{"post":{"operationId":"mood-get","summary":"Get mood log","description":"Get a single mood log by ID","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"mood":{"type":"string","enum":["rad","good","meh","bad","awful"]},"userId":{"type":"string"},"note":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","mood","userId","note","emoji","date"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood/list":{"post":{"operationId":"mood-list","summary":"List mood logs","description":"List mood logs for a date range","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"type":"object","properties":{"year":{"type":"number"},"month":{"type":"number"},"day":{"type":"number"}},"required":["year","month","day"]}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"mood":{"type":"string","enum":["rad","good","meh","bad","awful"]},"userId":{"type":"string"},"note":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","mood","userId","note","emoji","date"],"additionalProperties":false}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood/widget":{"post":{"operationId":"mood-getForWidget","summary":"Get mood widget data","description":"Get aggregated mood data for widgets","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"type":"object","properties":{"year":{"type":"number"},"month":{"type":"number"},"day":{"type":"number"}},"required":["year","month","day"]}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"averageMood":{"type":"number"},"moodCounts":{"type":"object","propertyNames":{"type":"string","enum":["rad","good","meh","bad","awful"]},"additionalProperties":{"type":"object","properties":{"count":{"type":"number"},"logs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"}},"required":["id","createdAt"],"additionalProperties":false}}},"required":["count","logs"],"additionalProperties":false}}},"required":["averageMood","moodCounts"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood":{"post":{"operationId":"mood-create","summary":"Create mood log","description":"Create a new mood log","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"note":{"anyOf":[{"type":"string"},{"type":"null"}]},"mood":{"type":"number"},"date":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]}},"required":["mood"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"mood":{"type":"string","enum":["rad","good","meh","bad","awful"]},"userId":{"type":"string"},"note":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","mood","userId","note","emoji","date"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood/update":{"post":{"operationId":"mood-update","summary":"Update mood log","description":"Update an existing mood log","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"note":{"anyOf":[{"type":"string"},{"type":"null"}]},"mood":{"type":"number"},"date":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]}}}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"mood":{"type":"string","enum":["rad","good","meh","bad","awful"]},"userId":{"type":"string"},"note":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","mood","userId","note","emoji","date"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood/delete":{"post":{"operationId":"mood-delete","summary":"Delete mood log","description":"Delete a mood log","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood/delete-many":{"post":{"operationId":"mood-deleteMany","summary":"Delete multiple mood logs","description":"Delete multiple mood logs","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/mood/delete-all":{"post":{"operationId":"mood-deleteAll","summary":"Delete all mood logs","description":"Delete all mood logs for the user","tags":["Mood"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/body-parts/list":{"post":{"operationId":"painEvents-bodyParts","summary":"List body parts","description":"List available pain event body parts","tags":["Pain Events"],"security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/__schema0"}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/recent-body-parts":{"post":{"operationId":"painEvents-recentBodyParts","summary":"Recent body parts","description":"List recently used pain event body parts","tags":["Pain Events"],"security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"count":{"type":"number"}},"required":["id","name","count"],"additionalProperties":false}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/get":{"post":{"operationId":"painEvents-get","summary":"Get pain event","description":"Get a single pain event by ID","tags":["Pain Events"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"date":{"type":"string"},"userId":{"type":"string"},"painLevel":{"type":"number"},"bodyPartId":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"bodyPart":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","date","userId","painLevel","bodyPartId","notes"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/list":{"post":{"operationId":"painEvents-list","summary":"List pain events","description":"List pain events for a date range","tags":["Pain Events"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"type":"object","properties":{"year":{"type":"number"},"month":{"type":"number"},"day":{"type":"number"}},"required":["year","month","day"]}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"date":{"type":"string"},"userId":{"type":"string"},"painLevel":{"type":"number"},"bodyPartId":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"bodyPart":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","date","userId","painLevel","bodyPartId","notes"],"additionalProperties":{}}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events":{"post":{"operationId":"painEvents-create","summary":"Create pain event","description":"Create a new pain event","tags":["Pain Events"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date":{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},"painLevel":{"type":"number","minimum":1,"maximum":10},"bodyPartId":{"type":"string","minLength":1},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["date","painLevel","bodyPartId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"date":{"type":"string"},"userId":{"type":"string"},"painLevel":{"type":"number"},"bodyPartId":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"bodyPart":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","date","userId","painLevel","bodyPartId","notes"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/update":{"post":{"operationId":"painEvents-update","summary":"Update pain event","description":"Update an existing pain event","tags":["Pain Events"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"date":{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},"painLevel":{"type":"number","minimum":1,"maximum":10},"bodyPartId":{"type":"string","minLength":1},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]}}}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"date":{"type":"string"},"userId":{"type":"string"},"painLevel":{"type":"number"},"bodyPartId":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"bodyPart":{"anyOf":[{"$ref":"#/components/schemas/__schema0"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","date","userId","painLevel","bodyPartId","notes"],"additionalProperties":{}},{"type":"object","properties":{"count":{"type":"number"}},"required":["count"],"additionalProperties":false}]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/delete":{"post":{"operationId":"painEvents-delete","summary":"Delete pain event","description":"Delete a pain event","tags":["Pain Events"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/pain-events/delete-many":{"post":{"operationId":"painEvents-deleteMany","summary":"Delete multiple pain events","description":"Delete multiple pain events","tags":["Pain Events"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/trips/get":{"post":{"operationId":"trips-get","summary":"Get trip","description":"Get a single trip by ID","tags":["Trips"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"transportMethod":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"stayType":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"userId":{"type":"string"},"name":{"type":"string"},"shortDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"longDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"finalized":{"type":"boolean"},"stayingAtOwnPlace":{"type":"boolean"},"ownTransport":{"type":"boolean"},"transports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"outboundTransports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"stays":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"name":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","name","notes","locationAddress","startDate","endDate","tripId","booked"],"additionalProperties":{}}},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}},"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"ownerId":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"genericStatus":{"type":"string"},"dueDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"plannedDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"isTemplate":{"type":"boolean"},"completionType":{"anyOf":[{"type":"string"},{"type":"null"}]},"showInSidebar":{"type":"boolean"},"showInOverview":{"type":"boolean"},"points":{"anyOf":[{"type":"number"},{"type":"null"}]},"priority":{"type":"string"},"taskType":{"type":"string"},"sip":{"type":"boolean"},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","name","description","ownerId","emoji","genericStatus","dueDate","plannedDate","startDate","isTemplate","completionType","showInSidebar","showInOverview","points","priority","taskType","sip","tripId"],"additionalProperties":{}}},"countryFlags":{"type":"array","items":{"type":"string"}},"firstTransport":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}},{"type":"null"}]},"isInboundTransportBooked":{"type":"boolean"},"isOutboundTransportBooked":{"type":"boolean"},"isStayBooked":{"type":"boolean"},"isBooked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","transportMethod","stayType","userId","name","shortDescription","longDescription","locationAddress","locationId","startDate","endDate","finalized","stayingAtOwnPlace","ownTransport"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/trips/list":{"post":{"operationId":"trips-list","summary":"List trips","description":"List trips for the current user","tags":["Trips"],"security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"transportMethod":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"stayType":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"userId":{"type":"string"},"name":{"type":"string"},"shortDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"longDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"finalized":{"type":"boolean"},"stayingAtOwnPlace":{"type":"boolean"},"ownTransport":{"type":"boolean"},"transports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"outboundTransports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"stays":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"name":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","name","notes","locationAddress","startDate","endDate","tripId","booked"],"additionalProperties":{}}},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}},"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"ownerId":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"genericStatus":{"type":"string"},"dueDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"plannedDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"isTemplate":{"type":"boolean"},"completionType":{"anyOf":[{"type":"string"},{"type":"null"}]},"showInSidebar":{"type":"boolean"},"showInOverview":{"type":"boolean"},"points":{"anyOf":[{"type":"number"},{"type":"null"}]},"priority":{"type":"string"},"taskType":{"type":"string"},"sip":{"type":"boolean"},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","name","description","ownerId","emoji","genericStatus","dueDate","plannedDate","startDate","isTemplate","completionType","showInSidebar","showInOverview","points","priority","taskType","sip","tripId"],"additionalProperties":{}}},"countryFlags":{"type":"array","items":{"type":"string"}},"firstTransport":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}},{"type":"null"}]},"isInboundTransportBooked":{"type":"boolean"},"isOutboundTransportBooked":{"type":"boolean"},"isStayBooked":{"type":"boolean"},"isBooked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","transportMethod","stayType","userId","name","shortDescription","longDescription","locationAddress","locationId","startDate","endDate","finalized","stayingAtOwnPlace","ownTransport"],"additionalProperties":{}}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/trips":{"post":{"operationId":"trips-create","summary":"Create trip","description":"Create a new trip","tags":["Trips"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1},"transportMethod":{"default":"Other","type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"shortDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"endDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"finalized":{"default":false,"type":"boolean"},"activityIds":{"default":[],"type":"array","items":{"type":"string"}},"inboundTransportIds":{"default":[],"type":"array","items":{"type":"string"}},"outboundTransportIds":{"default":[],"type":"array","items":{"type":"string"}},"stayIds":{"default":[],"type":"array","items":{"type":"string"}},"projectIds":{"default":[],"type":"array","items":{"type":"string"}},"stayingAtOwnPlace":{"default":false,"type":"boolean"},"ownTransport":{"default":false,"type":"boolean"}},"required":["name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"transportMethod":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"stayType":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"userId":{"type":"string"},"name":{"type":"string"},"shortDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"longDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"finalized":{"type":"boolean"},"stayingAtOwnPlace":{"type":"boolean"},"ownTransport":{"type":"boolean"},"transports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"outboundTransports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"stays":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"name":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","name","notes","locationAddress","startDate","endDate","tripId","booked"],"additionalProperties":{}}},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}},"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"ownerId":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"genericStatus":{"type":"string"},"dueDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"plannedDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"isTemplate":{"type":"boolean"},"completionType":{"anyOf":[{"type":"string"},{"type":"null"}]},"showInSidebar":{"type":"boolean"},"showInOverview":{"type":"boolean"},"points":{"anyOf":[{"type":"number"},{"type":"null"}]},"priority":{"type":"string"},"taskType":{"type":"string"},"sip":{"type":"boolean"},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","name","description","ownerId","emoji","genericStatus","dueDate","plannedDate","startDate","isTemplate","completionType","showInSidebar","showInOverview","points","priority","taskType","sip","tripId"],"additionalProperties":{}}},"countryFlags":{"type":"array","items":{"type":"string"}},"firstTransport":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}},{"type":"null"}]},"isInboundTransportBooked":{"type":"boolean"},"isOutboundTransportBooked":{"type":"boolean"},"isStayBooked":{"type":"boolean"},"isBooked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","transportMethod","stayType","userId","name","shortDescription","longDescription","locationAddress","locationId","startDate","endDate","finalized","stayingAtOwnPlace","ownTransport"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/trips/update":{"post":{"operationId":"trips-update","summary":"Update trip","description":"Update an existing trip","tags":["Trips"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"name":{"type":"string","minLength":1},"transportMethod":{"default":"Other","type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"shortDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"endDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"finalized":{"default":false,"type":"boolean"},"activityIds":{"default":[],"type":"array","items":{"type":"string"}},"inboundTransportIds":{"default":[],"type":"array","items":{"type":"string"}},"outboundTransportIds":{"default":[],"type":"array","items":{"type":"string"}},"stayIds":{"default":[],"type":"array","items":{"type":"string"}},"projectIds":{"default":[],"type":"array","items":{"type":"string"}},"stayingAtOwnPlace":{"default":false,"type":"boolean"},"ownTransport":{"default":false,"type":"boolean"}}}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"transportMethod":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"stayType":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"userId":{"type":"string"},"name":{"type":"string"},"shortDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"longDescription":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationId":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"finalized":{"type":"boolean"},"stayingAtOwnPlace":{"type":"boolean"},"ownTransport":{"type":"boolean"},"transports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"outboundTransports":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}},"stays":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"name":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","name","notes","locationAddress","startDate","endDate","tripId","booked"],"additionalProperties":{}}},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}},"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"ownerId":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"genericStatus":{"type":"string"},"dueDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"plannedDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"isTemplate":{"type":"boolean"},"completionType":{"anyOf":[{"type":"string"},{"type":"null"}]},"showInSidebar":{"type":"boolean"},"showInOverview":{"type":"boolean"},"points":{"anyOf":[{"type":"number"},{"type":"null"}]},"priority":{"type":"string"},"taskType":{"type":"string"},"sip":{"type":"boolean"},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","name","description","ownerId","emoji","genericStatus","dueDate","plannedDate","startDate","isTemplate","completionType","showInSidebar","showInOverview","points","priority","taskType","sip","tripId"],"additionalProperties":{}}},"countryFlags":{"type":"array","items":{"type":"string"}},"firstTransport":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}},{"type":"null"}]},"isInboundTransportBooked":{"type":"boolean"},"isOutboundTransportBooked":{"type":"boolean"},"isStayBooked":{"type":"boolean"},"isBooked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","transportMethod","stayType","userId","name","shortDescription","longDescription","locationAddress","locationId","startDate","endDate","finalized","stayingAtOwnPlace","ownTransport"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/trips/delete":{"post":{"operationId":"trips-delete","summary":"Delete trip","description":"Delete a trip","tags":["Trips"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/trips/delete-many":{"post":{"operationId":"trips-deleteMany","summary":"Delete multiple trips","description":"Delete multiple trips","tags":["Trips"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities/get":{"post":{"operationId":"packingActivities-get","summary":"Get packing activity","description":"Get a single packing activity by ID","tags":["Packing Activities"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"_count":{"type":"object","properties":{"packingItems":{"type":"number"}},"required":["packingItems"],"additionalProperties":false}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities/list":{"post":{"operationId":"packingActivities-list","summary":"List packing activities","description":"List packing activities for the current user","tags":["Packing Activities"],"security":[{"apiKey":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"_count":{"type":"object","properties":{"packingItems":{"type":"number"}},"required":["packingItems"],"additionalProperties":false}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities":{"post":{"operationId":"packingActivities-create","summary":"Create packing activity","description":"Create a new packing activity","tags":["Packing Activities"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string","minLength":1},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"_count":{"type":"object","properties":{"packingItems":{"type":"number"}},"required":["packingItems"],"additionalProperties":false}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities/update":{"post":{"operationId":"packingActivities-update","summary":"Update packing activity","description":"Update an existing packing activity","tags":["Packing Activities"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string","minLength":1},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}}}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"_count":{"type":"object","properties":{"packingItems":{"type":"number"}},"required":["packingItems"],"additionalProperties":false}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities/delete":{"post":{"operationId":"packingActivities-delete","summary":"Delete packing activity","description":"Delete a packing activity","tags":["Packing Activities"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities/delete-many":{"post":{"operationId":"packingActivities-deleteMany","summary":"Delete multiple packing activities","description":"Delete multiple packing activities","tags":["Packing Activities"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-activities/exists":{"post":{"operationId":"packingActivities-exists","summary":"Check packing activity exists","description":"Check whether a packing activity exists","tags":["Packing Activities"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-items/get":{"post":{"operationId":"packingItems-get","summary":"Get packing item","description":"Get a single packing item by ID","tags":["Packing Items"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"when":{"type":"string","enum":["Before","InTheMorning"]},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"categoryId":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultQuantity":{"anyOf":[{"type":"number"},{"type":"null"}]},"quantityPerDay":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"expendable":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"needsCharging":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"chargingStatus":{"type":"string","enum":["NotCharged","Charging","Charged"]},"needsToBeChecked":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"essential":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"isChargedById":{"anyOf":[{"type":"string"},{"type":"null"}]},"luggageId":{"anyOf":[{"type":"string"},{"type":"null"}]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}},"required":["id","createdAt","updatedAt","userId","when","name","emoji","description","categoryId","defaultQuantity","quantityPerDay","expendable","needsCharging","chargingStatus","needsToBeChecked","essential","isChargedById","luggageId"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-items/list":{"post":{"operationId":"packingItems-list","summary":"List packing items","description":"List packing items for the current user","tags":["Packing Items"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"tripId":{"type":"string"},"activityId":{"type":"string"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"when":{"type":"string","enum":["Before","InTheMorning"]},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"categoryId":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultQuantity":{"anyOf":[{"type":"number"},{"type":"null"}]},"quantityPerDay":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"expendable":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"needsCharging":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"chargingStatus":{"type":"string","enum":["NotCharged","Charging","Charged"]},"needsToBeChecked":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"essential":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"isChargedById":{"anyOf":[{"type":"string"},{"type":"null"}]},"luggageId":{"anyOf":[{"type":"string"},{"type":"null"}]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}},"required":["id","createdAt","updatedAt","userId","when","name","emoji","description","categoryId","defaultQuantity","quantityPerDay","expendable","needsCharging","chargingStatus","needsToBeChecked","essential","isChargedById","luggageId"],"additionalProperties":{}}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-items":{"post":{"operationId":"packingItems-create","summary":"Create packing item","description":"Create a new packing item","tags":["Packing Items"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"defaultQuantity":{"anyOf":[{"type":"number"},{"type":"null"}]},"quantityPerDay":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"name":{"type":"string","minLength":1},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"expendable":{"type":"boolean"},"essential":{"type":"boolean"},"needsCharging":{"type":"boolean"},"needsToBeChecked":{"type":"boolean"},"packingActivityIds":{"default":[],"type":"array","items":{"type":"string"}},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"chargingStatus":{"default":"NotCharged","type":"string","enum":["NotCharged","Charging","Charged"]},"when":{"default":"Before","type":"string","enum":["Before","InTheMorning"]}},"required":["name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"when":{"type":"string","enum":["Before","InTheMorning"]},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"categoryId":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultQuantity":{"anyOf":[{"type":"number"},{"type":"null"}]},"quantityPerDay":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"expendable":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"needsCharging":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"chargingStatus":{"type":"string","enum":["NotCharged","Charging","Charged"]},"needsToBeChecked":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"essential":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"isChargedById":{"anyOf":[{"type":"string"},{"type":"null"}]},"luggageId":{"anyOf":[{"type":"string"},{"type":"null"}]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}},"required":["id","createdAt","updatedAt","userId","when","name","emoji","description","categoryId","defaultQuantity","quantityPerDay","expendable","needsCharging","chargingStatus","needsToBeChecked","essential","isChargedById","luggageId"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-items/update":{"post":{"operationId":"packingItems-update","summary":"Update packing item","description":"Update an existing packing item","tags":["Packing Items"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"defaultQuantity":{"anyOf":[{"type":"number"},{"type":"null"}]},"quantityPerDay":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"name":{"type":"string","minLength":1},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"expendable":{"type":"boolean"},"essential":{"type":"boolean"},"needsCharging":{"type":"boolean"},"needsToBeChecked":{"type":"boolean"},"packingActivityIds":{"default":[],"type":"array","items":{"type":"string"}},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"chargingStatus":{"default":"NotCharged","type":"string","enum":["NotCharged","Charging","Charged"]},"when":{"default":"Before","type":"string","enum":["Before","InTheMorning"]}}}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"when":{"type":"string","enum":["Before","InTheMorning"]},"name":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"categoryId":{"anyOf":[{"type":"string"},{"type":"null"}]},"defaultQuantity":{"anyOf":[{"type":"number"},{"type":"null"}]},"quantityPerDay":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"expendable":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"needsCharging":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"chargingStatus":{"type":"string","enum":["NotCharged","Charging","Charged"]},"needsToBeChecked":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"essential":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"isChargedById":{"anyOf":[{"type":"string"},{"type":"null"}]},"luggageId":{"anyOf":[{"type":"string"},{"type":"null"}]},"activities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"emoji":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","emoji","createdAt","updatedAt","userId","name","description"],"additionalProperties":{}}}},"required":["id","createdAt","updatedAt","userId","when","name","emoji","description","categoryId","defaultQuantity","quantityPerDay","expendable","needsCharging","chargingStatus","needsToBeChecked","essential","isChargedById","luggageId"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-items/delete":{"post":{"operationId":"packingItems-delete","summary":"Delete packing item","description":"Delete a packing item","tags":["Packing Items"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/packing-items/delete-many":{"post":{"operationId":"packingItems-deleteMany","summary":"Delete multiple packing items","description":"Delete multiple packing items","tags":["Packing Items"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports/get":{"post":{"operationId":"transports-get","summary":"Get transport","description":"Get a single transport by ID","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports/list":{"post":{"operationId":"transports-list","summary":"List transports","description":"List transports for the current user","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"onlyFuture":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports":{"post":{"operationId":"transports-create","summary":"Create transport","description":"Create a new transport","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"default":"Plane","type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"name":{"type":"string","minLength":1},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"default":[],"type":"array","items":{"type":"string"}},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"endDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"booked":{"default":false,"type":"boolean"},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["name"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports/update":{"post":{"operationId":"transports-update","summary":"Update transport","description":"Update an existing transport","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"type":{"default":"Plane","type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"name":{"type":"string","minLength":1},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"default":[],"type":"array","items":{"type":"string"}},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"endDate":{"anyOf":[{"type":"object","properties":{"timezone":{"type":"string"},"dateInUsersTimezone":{"type":"string"}},"required":["timezone","dateInUsersTimezone"]},{"type":"null"}]},"booked":{"default":false,"type":"boolean"},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]}}}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Walk","Bike","Car","Bus","Train","Plane","Boat","Other"]},"arriveSecondsBefore":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"seat":{"anyOf":[{"type":"string"},{"type":"null"}]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"files":{"type":"array","items":{"type":"string"}},"order":{"type":"number"},"fromAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"toAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","arriveSecondsBefore","name","seat","notes","files","order","fromAddress","toAddress","startDate","endDate","booked"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports/delete":{"post":{"operationId":"transports-delete","summary":"Delete transport","description":"Delete a transport","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports/delete-many":{"post":{"operationId":"transports-deleteMany","summary":"Delete multiple transports","description":"Delete multiple transports","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}},"required":["ids"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","const":true},"deletedCount":{"type":"number"}},"required":["success","deletedCount"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/transports/exists":{"post":{"operationId":"transports-exists","summary":"Check transport exists","description":"Check whether a transport exists","tags":["Transports"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/stays/get":{"post":{"operationId":"stays-get","summary":"Get stay","description":"Get a single stay by ID","tags":["Stays"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"name":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","name","notes","locationAddress","startDate","endDate","tripId","booked"],"additionalProperties":{}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/stays/list":{"post":{"operationId":"stays-list","summary":"List stays","description":"List stays for the current user","tags":["Stays"],"security":[{"apiKey":[]}],"parameters":[],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"onlyFuture":{"type":"boolean"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"userId":{"type":"string"},"type":{"type":"string","enum":["Hotel","Hostel","Airbnb","Couchsurfing","OwnHome","Other"]},"name":{"type":"string"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"anyOf":[{"type":"string"},{"type":"null"}]},"startDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"endDate":{"anyOf":[{"type":"string"},{"type":"null"}]},"tripId":{"anyOf":[{"type":"string"},{"type":"null"}]},"booked":{"type":"boolean"}},"required":["id","createdAt","updatedAt","userId","type","name","notes","locationAddress","startDate","endDate","tripId","booked"],"additionalProperties":{}}}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/stays":{"post":{"oper
[...]
